.time {
    width: 120px; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Ajusta la altura según tus necesidades */
    margin: 20px auto 40px auto; /* Centra el elemento horizontalmente */
}


